.loading {
  display: flex;
  justify-content: center;
}

.content > h2 {
  padding-top: 30px;
  padding-bottom: 10px;
}

.loading::after {
  content: '';
  width: 44px;
  height: 44px;
  border: 5.86667px solid #aaaaaa;
  border-top-color: var(--white-color);
  border-radius: 50%;
  animation: loading 1s ease infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

/* small devices */
@media screen and (max-width: 512px) {
  .loading::after {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
}
